﻿@model SearchViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!-- Masthead -->
<header class="masthead text-black-50 text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <br />
                <h1 class="mb-5" style="color:dodgerblue">UniResearch!</h1>
                <h5 class="mb-5">The easy way to find research paper.</h5>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form method="post">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input asp-for="SearchKey" class="form-control form-control-lg" placeholder="Paper name..." id="searchKey">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                            @*<a asp-controller="Home" asp-action="SearchByPaperName" asp-route-paperName="@ViewBag.SearchKey" class="btn btn-block btn-lg btn-primary">Search!</a>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
