﻿
@{
    ViewData["Title"] = "Mariam";
}

<!-- Header -->
@*<header class="bg-primary text-center py-4 mb-4">
    <div class="container">
        <h3 class="font-weight-light text-white">
            For my father and daughter..<br />
            I love you!
        </h3>
    </div>
</header>*@

<main>
    <div>
        <!-- Page Content -->
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <!-- Team Member 1 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="~/images/Karam.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Karam</h5>
                            <div class="card-text text-black-50">I love you.💔</div>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="~/images/Mariam.jpeg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Mariam</h5>
                            <div class="card-text text-black-50">I love you..💔</div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
    </div>
</main>

<!-- Header -->
@*<footer class="bg-primary text-center py-4 mb-4">
    <div class="container">
        <h3 class="font-weight-light text-white">
            For my father and daughter..<br />
            I love you!
        </h3>
    </div>
</footer>*@
