﻿@inject ApplicationDbContext context

@model CommentViewModel
@{
    ViewData["Title"] = "PaperComments";
}


<div class="container emp-profile">
    <form method="post">

        <input hidden asp-for="Paper.Id" />
        <input hidden asp-for="ApplicationUserId" />

        <!--------------------------------Selected paper------------------------------->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="card-title mb-0">
                                        <a>@Model.Paper.PaperName</a>
                                    </h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @foreach (var user in Model.Paper.UsersPapers)
                                    {
                                        var userProfileName = context.ApplicationUsers.FirstOrDefault(u => u.Id == user.ApplicationUserId).ProfileName;

                                        <div class="card-text text-black-50">
                                            <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@user.ApplicationUserId">@userProfileName</a>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <a asp-controller="Paper" asp-action="Download" asp-route-filename="@Model.Paper.PaperFilePath" class="btn mb-2 btn-block btn-md btn-primary">Download</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
        <!--------------------------------Adding new comment------------------------------->
        @if (Model.CommentProfileName != null)
        {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="mb-2">
                        <div class="card border-0 shadow">
                            <div class="card-body">

                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <h6 class="card-title mb-0">
                                            <a>@Model.CommentProfileName</a>
                                        </h6>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <textarea asp-for="CommentText" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2">
                                        <div class="text-right"><button type="submit" class="btn btn-primary">Comment</button></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        }
        <!--------------------------------Adding new comment------------------------------->
        @foreach (var comment in Model.Comments)
        {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="mb-2">
                        <div class="card border-0 shadow">
                            <div class="card-body">

                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <h6 class="card-title mb-0">
                                            <a>@comment.ApplicationUser.ProfileName</a>
                                        </h6>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <p>@comment.CommentText</p>
                                    </div>
                                </div>

                                @if (comment.ApplicationUserId == Model.ApplicationUserId)
                                {
                                    <div class="row mb-2">
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4">
                                            <a asp-controller="Comment" asp-action="DeleteComment" asp-route-commentId="@comment.Id" asp-route-papId="@Model.Paper.Id" class="btn mb-2 btn-block btn-md btn-primary">Delete comment</a>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        }

    </form>
</div>