﻿@model AddPaperViewModel

@{
    ViewData["Title"] = "View";
}

<h4>Add new paper</h4>
<hr />
<form enctype="multipart/form-data" method="post">
    <input hidden asp-for="ProfileUserId" />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperName" class="control-label"></label>
                <input asp-for="PaperName" class="form-control" />
                <span asp-validation-for="PaperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paper"></label>
                <div class="custom-file">
                    <input asp-for="Paper" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>

            @*<div class="form-group">
                    <label asp-for="Profiles" class="control-label"></label>
                    <input asp-for="Profiles" class="form-control" />
                    <span asp-validation-for="Profiles" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
                <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@Model.ProfileUserId" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
