﻿@inject ApplicationDbContext context

@model SearchViewModel
@{
    ViewData["Title"] = "PaperSearch";
}

<form method="post">
    <div class="container">
        <!---------------------------------------------------Search---------------------------------------------------->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="mb-2">
                    <input asp-for="SearchKey" class="form-control form-control-lg" id="searchKey" value="@Model.SearchKey">
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-4">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                    @*<a asp-controller="Search" asp-action="SearchByPaperName" asp-route-searchKey="@Model.SearchKey" class="btn btn-block btn-lg btn-primary">Search!</a>*@
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!---------------------------------------------------Results---------------------------------------------------->
        @foreach (var paper in Model.Result)
        {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="mb-4">
                        <div class="card border-0 shadow">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-title mb-0">
                                            <a asp-controller="Comment" asp-action="PaperComments" asp-route-paperId="@paper.Id">@paper.PaperName</a>
                                        </h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        @foreach (var user in paper.UsersPapers)
                                        {
                                            var userProfileName = context.ApplicationUsers.FirstOrDefault(u => u.Id == user.ApplicationUserId).ProfileName;

                                            <div class="card-text text-black-50">
                                                <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@user.ApplicationUserId">@userProfileName</a>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <a asp-controller="Paper" asp-action="Download" asp-route-filename="@paper.PaperFilePath" class="btn mb-2 btn-block btn-md btn-primary">Download</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
        }


    </div>
</form>
