@using Microsoft.AspNetCore.Identity
@inject SignInManager<UniResearch.Data.ApplicationUser> SignInManager
@inject UserManager<UniResearch.Data.ApplicationUser> UserManager
@inject ApplicationDbContext dbContext

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var applicationUser = dbContext.ApplicationUsers.FirstOrDefault(u => u.UserName == User.Identity.Name);

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Profile" asp-route-userId ="@applicationUser.Id" title="Profile">@applicationUser.ProfileName</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>