﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        @* enctype="multipart/form-data" for file upload *@
        <form enctype="multipart/form-data" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <!------------------------------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="Input.ProfileName"></label>
                <input asp-for="Input.ProfileName" class="form-control" />
                <span asp-validation-for="Input.ProfileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Degree"></label>
                <input asp-for="Input.Degree" class="form-control" />
                <span asp-validation-for="Input.Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.University"></label>
                <input asp-for="Input.University" class="form-control" />
                <span asp-validation-for="Input.University" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Faculty"></label>
                <input asp-for="Input.Faculty" class="form-control" />
                <span asp-validation-for="Input.Faculty" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Input.ImagePath"></label>
            <input asp-for="Input.ImagePath" class="form-control" />
            <span asp-validation-for="Input.ImagePath" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Input.ImagePath"></label>
                @*<div class="col-sm-10">*@
                <div class="custom-file">
                    <input asp-for="Input.ImagePath" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
                @*</div>*@
                @*<span asp-validation-for="Input.Faculty" class="text-danger"></span>*@
            </div>
            <!------------------------------------------------------------------------------------->

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
    </script>
}
