﻿@inject ApplicationDbContext context

@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@{
    var imagePath = "~/images/" + (Model.ApplicationUser.ImagePath ?? "NoImageAvailable.png");
}

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <!-- Team Member 1 -->
                <div class="mb-4">
                    <div class="card border-0 shadow">
                        <img src="@imagePath" class="card-img-top" alt="..." asp-append-version="true">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">@Model.ApplicationUser.ProfileName</h5>
                            <div class="card-text text-black-50">@Model.ApplicationUser.University</div>
                            <div class="card-text text-black-50">@Model.ApplicationUser.Faculty</div>
                            <div class="card-text text-black-50">@Model.ApplicationUser.Degree</div>
                        </div>
                    </div>
                </div>
                @*<input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />*@
                @if (Model.LoggedUser)
                {
                    <a asp-controller="Profile" asp-action="UpdateProfile" asp-route-userId="@Model.ApplicationUser.Id" class="btn btn-block btn-md btn-primary">Edit Profile</a>
                }

            </div>
            <div class="col-md-9">
                @if (Model.LoggedUser)
                {
                    <a asp-controller="Paper" asp-action="AddPaper" asp-route-userId="@Model.ApplicationUser.Id" class="btn mb-2 btn-block btn-md btn-primary">Add Paper</a>
                }
                @foreach (var paper in Model.Paper)
                {
                    <div class="mb-2">
                        <div class="card border-0 shadow">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-title mb-0">
                                            <a asp-controller="Comment" asp-action="PaperComments" asp-route-paperId="@paper.Id">@paper.PaperName</a>
                                        </h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        @foreach (var user in paper.UsersPapers)
                                        {
                                            var userProfileName = context.ApplicationUsers.FirstOrDefault(u => u.Id == user.ApplicationUserId).ProfileName;

                                            <div class="card-text text-black-50">
                                                <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@user.ApplicationUserId">@userProfileName</a>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        @if (Model.LoggedUser)
                                        {
                                            <a asp-controller="Paper" asp-action="Delete" asp-route-paperId="@paper.Id" onclick = "return confirm('Are you sure you want to delete this paper?');" class="btn mb-2 btn-block btn-md btn-primary">Delete</a>
                                        }
                                    </div>
                                    <div class="col-md-2">
                                        <a asp-controller="Paper" asp-action="Download" asp-route-filename="@paper.PaperFilePath" class="btn mb-2 btn-block btn-md btn-primary">Download</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </form>
</div>
