﻿@model ProfileUpdateViewModel
@{
    ViewData["Title"] = "UpdateProfile";
    var excistingImagePath = "~/images/" + (Model.ExcistingImagePath ?? "NoImageAvailable.png");
}

<h2>UpdateProfile</h2>

<form enctype="multipart/form-data" method="post">
    <input hidden asp-for="UserId" />
    <input hidden asp-for="ExcistingImagePath" />
    <hr />
    <div class="row">
        @* enctype="multipart/form-data" for file upload *@
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProfileName"></label>
                <input asp-for="ProfileName" class="form-control" />
                <span asp-validation-for="ProfileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree"></label>
                <input asp-for="Degree" class="form-control" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="University"></label>
                <input asp-for="University" class="form-control" />
                <span asp-validation-for="University" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faculty"></label>
                <input asp-for="Faculty" class="form-control" />
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>



        </div>

        <div class="col-md-6">
            <div class="form-group d-flex align-items-center justify-content-center">
                <img src="@excistingImagePath" style="height: 35%; width: 35%;" class="card-img-top" alt="..." asp-append-version="true">
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                @*<div class="col-sm-10">*@
                <div class="custom-file">
                    <input asp-for="Image" class="form-control custom-file-input">
                    <label class="custom-file-label">Choose File...</label>
                </div>
                @*</div>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@Model.UserId" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}

